In [1]:
%pip install pandas
import pandas as pd
pd.__version__

Collecting pandas
  Using cached pandas-3.0.0-cp311-cp311-macosx_11_0_arm64.whl.metadata (79 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.4.2-cp311-cp311-macosx_14_0_arm64.whl.metadata (6.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/ishitanadar/Library/Python/3.11/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Users/ishitanadar/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-3.0.0-cp311-cp311-macosx_11_0_arm64.whl (9.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.9/9.9 MB 5.2 MB/s  0:00:01m0:00:0100:01
Downloading numpy-2.4.2-cp311-cp311-macosx_14_0_arm64.whl (5.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.5/5.5 MB 5.0 MB/s  0:00:01 eta 0:00:01
Installing collected packages: numpy, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [pandas]2m1/2 [pandas]
Successfully installed numpy-2.4.2 pandas-3.0.0

[notice] A new release of pip is available: 25.3 -> 26.0
[notice] To update, run: /opt/homebrew/opt/python@3.11/bin/python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

'3.0.0'

In [5]:
import pandas as pd

df = pd.read_csv(
    "../data/nykaa_dataset.csv",
    encoding="latin1",
    sep=",",
    engine="python",
    on_bad_lines="skip"
)

df.head()

  PK     `vC\>É3ÀÜ  Ü     Index/Document.iwa Ø ñ_ðe84 æ
"

0                                                  
1               *úô7ûô7üô7à«?ýô7ê77
7þô7
2                         ê7"7*þô72
7B·

3                                 
"en_IN:úô7J
4                                      ØP` xè

In [6]:
df.shape

(40432, 1)

In [7]:
df.columns

Index(['PK     `vC\>É3ÀÜ  Ü     Index/Document.iwa Ø ñ_ðe84 æ
"
'], dtype='str')

In [8]:
df = pd.read_csv(
    "../data/nykaa_dataset.csv",
    encoding="latin1",
    sep=";",
    engine="python",
    on_bad_lines="skip"
)

df.head()

  PK     `vC\>É3ÀÜ  Ü     Index/Document.iwa Ø ñ_ðe84 æ
"

0                                                  
1               *úô7ûô7üô7à«?ýô7ê77
7þô7
2                         ê7"7*þô72
7B·

3                                 
"en_IN:úô7J
4                                      ØP` xè

In [13]:
df = pd.read_csv("../data/nykaa_dataset_clean.csv")

In [14]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 3663 entries, 0 to 3662
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   brand_name         3663 non-null   str
 1   product_id         3663 non-null   int64
 2   image_url          3663 non-null   str
 3   in_stock           3363 non-null   object
 4   mrp                3663 non-null   int64
 5   price              3663 non-null   int64
 6   product_title      3663 non-null   str
 7   rating             3663 non-null   float64
 8   rating_count       3663 non-null   int64
 9   tags               305 non-null    str
 10  product_url        3663 non-null   str
 11  listing_page_name  3663 non-null   str
 12  listing_url        3663 non-null   str
 13  listing_page_no    3663 non-null   int64
dtypes: float64(1), int64(5), object(1), str(7)
memory usage: 400.8+ KB

In [15]:
df["in_stock"] = (
    df["in_stock"]
    .astype(str)
    .str.strip()
    .str.lower()
    .map({"yes": True, "no": False})
)

In [16]:
df["in_stock"] = df["in_stock"].fillna(False)

In [17]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 3663 entries, 0 to 3662
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   brand_name         3663 non-null   str
 1   product_id         3663 non-null   int64
 2   image_url          3663 non-null   str
 3   in_stock           3663 non-null   object
 4   mrp                3663 non-null   int64
 5   price              3663 non-null   int64
 6   product_title      3663 non-null   str
 7   rating             3663 non-null   float64
 8   rating_count       3663 non-null   int64
 9   tags               305 non-null    str
 10  product_url        3663 non-null   str
 11  listing_page_name  3663 non-null   str
 12  listing_url        3663 non-null   str
 13  listing_page_no    3663 non-null   int64
dtypes: float64(1), int64(5), object(1), str(7)
memory usage: 400.8+ KB

In [18]:
df["in_stock"].value_counts(dropna=False)

in_stock
False    3663
Name: count, dtype: int64

In [19]:
df["in_stock"] = (
    df["in_stock"]
    .astype(str)
    .str.strip()
    .str.lower()
    .replace({
        "yes": True,
        "no": False,
        "true": True,
        "false": False,
        "in stock": True,
        "out of stock": False,
        "1": True,
        "0": False,
        "nan": False
    })
)

In [20]:
df["in_stock"] = df["in_stock"].astype(bool)

In [21]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 3663 entries, 0 to 3662
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   brand_name         3663 non-null   str
 1   product_id         3663 non-null   int64
 2   image_url          3663 non-null   str
 3   in_stock           3663 non-null   bool
 4   mrp                3663 non-null   int64
 5   price              3663 non-null   int64
 6   product_title      3663 non-null   str
 7   rating             3663 non-null   float64
 8   rating_count       3663 non-null   int64
 9   tags               305 non-null    str
 10  product_url        3663 non-null   str
 11  listing_page_name  3663 non-null   str
 12  listing_url        3663 non-null   str
 13  listing_page_no    3663 non-null   int64
dtypes: bool(1), float64(1), int64(5), str(7)
memory usage: 375.7 KB

In [22]:
df.to_csv("../data/nykaa_cleaned.csv", index=False)

In [23]:
df = pd.read_csv("../data/nykaa_cleaned.csv")

# Optional: create extra columns for analysis
df["discount"] = ((df["mrp"] - df["price"]) / df["mrp"] * 100).round(2)
df["price_bucket"] = pd.cut(df["price"], bins=[0, 200, 500, 1000, 1500, 2000, 5000], labels=["0-200","201-500","501-1000","1001-1500","1501-2000","2001-5000"])

In [24]:
df.to_csv("../data/nykaa_final.csv", index=False)